[alias]
  lg   = !git log --oneline --graph --pretty=format:\"%C(magenta)%h%Creset -%C(red)%d%Creset %s %C(dim green)(%cr) [%an]\"
  ci   = commit
  s    = status
  co   = checkout
  bl   = blame
  last = log -1 HEAD
  ca   = !git add -A && git commit
  del  = branch -D
  br   = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
  save = !git add -A && git commit -m 'chore: commit save point'
  undo = reset HEAD~1 --mixed
  done = !git push origin main
  pl   = !git pull origin main
  d    = diff
  sw   = switch
[core]
  editor = vim
  pager = delta
[delta]
  navigate = true    # use n and N to move between diff sections
  light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
[diff]
  colorMoved = default
[interactive]
  diffFilter = delta --color-only
[merge]
  conflictstyle = diff3
[user]
  email = 58913502+mmmarceleza@users.noreply.github.com
  name = mmmarceleza
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
